## MongoDB with Python
# Here we work on projrct "Ecommerce Platform Backend" .inside this we will design the online store.we will work on Product catalog with categories and search functionality,user cart and order management,use aggregate queries for sale reports.

In [6]:
! pip install pymongo

Requirement already satisfied: pymongo in c:\users\baps\desktop\mongodb_project\venv\lib\site-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\baps\desktop\mongodb_project\venv\lib\site-packages (from pymongo) (2.7.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
# 1. Set up data connection
import pymongo
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017")  
db = client["ecommerce"]  # Database name
products_collection = db["products"]
users_collection = db["users"]
orders_collection = db["orders"]

In [40]:
# 2.Insert Sample data
def insert_sample_data():
    # Insert Products
    products = [
        {"name": "Laptop", "price": 1200, "category": "Electronics", "stock": 50},
        {"name": "Headphones", "price": 200, "category": "Accessories", "stock": 150},
        {"name": "Shoes", "price": 80, "category": "Fashion", "stock": 100},
    ]
    products_collection.insert_many(products)

    # Insert User
    user = {
        "name": "John Doe",
        "email": "john@example.com",
        "password": "securepassword",
        "address": "123 Elm Street",
        "orders": [],
    }
    users_collection.insert_one(user)

    print("Sample data inserted.")


insert_sample_data()

Sample data inserted.

In [ ]:
# Discription: sample data is got inserted inside the products_colection and users_collection.if you want to see the data go to Mangodb compass and you can see the data which is inserted inside the ecommerce database

In [ ]:
# 3. Find all the Product which price is under $500
def fetch_all_products():
    products = list(products_collection.find({}, {"_id": 0}))
    print("All Products:")
    for product in products:
        print(product)

def fetch_affordable_products(max_price):
    products = list(products_collection.find({"price": {"$lt": max_price}}, {"_id": 0}))
    print(f"Products priced under ${max_price}:")
    for product in products:
        print(product)

fetch_all_products()
fetch_affordable_products(500)

All Products:
{'name': 'Laptop', 'price': 1200, 'category': 'Electronics', 'stock': 50}
{'name': 'Headphones', 'price': 200, 'category': 'Accessories', 'stock': 150}
{'name': 'Shoes', 'price': 80, 'category': 'Fashion', 'stock': 100}
Products priced under $500:
{'name': 'Headphones', 'price': 200, 'category': 'Accessories', 'stock': 150}
{'name': 'Shoes', 'price': 80, 'category': 'Fashion', 'stock': 100}

In [ ]:
# Discription : this code give the output of all the products which is under $500.here I have use $lt operator to find the products which is under $500

In [ ]:
# 4.Update the stock for Laptop
def update_product_stock(product_name, quantity):
    result = products_collection.update_one(
        {"name": product_name},
        {"$inc": {"stock": -quantity}}
    )
    if result.modified_count > 0:
        print(f"Stock updated for {product_name}.")
    else:
        print(f"Failed to update stock for {product_name}.")

update_product_stock("Laptop", 1)

Stock updated for Laptop.

In [ ]:
# Discription: there I have updated product name is laptop and quantity 1 with the help of $inc operator

In [13]:
# 5.Find the product  with price grater than 100
def fetch_expensive_products(min_price):
    products = list(products_collection.find({"price": {"$gt": min_price}}, {"_id": 0}))
    print(f"Products with price greater than ${min_price}:")
    for product in products:
        print(product)

fetch_expensive_products(100)

Products with price greater than $100:
{'name': 'Laptop', 'price': 1200, 'category': 'Electronics', 'stock': 49}
{'name': 'Headphones', 'price': 200, 'category': 'Accessories', 'stock': 150}

In [ ]:
# discription: the query calculate the product price grater than 100 with the help of $gt operator from product collection .there is two product got which is price is grater than 100 is laptop and headphones

In [14]:
# 6.Find out the product which is in Electronic or Fashion category
def fetch_products_by_category(categories):
    products = list(products_collection.find({"category": {"$in": categories}}, {"_id": 0}))
    print(f"Products in categories {categories}:")
    for product in products:
        print(product)

fetch_products_by_category(["Electronics", "Fashion"])

Products in categories ['Electronics', 'Fashion']:
{'name': 'Laptop', 'price': 1200, 'category': 'Electronics', 'stock': 49}
{'name': 'Shoes', 'price': 80, 'category': 'Fashion', 'stock': 100}

In [ ]:
# discription: the query give out put of product which is electronic or fashion catergory.here i use the $in operator and get the two product name laptop and shoes

In [ ]:
# 7. Find the product stock which is between 50 and 150
def fetch_products_by_stock_range(min_stock, max_stock):
    products = list(products_collection.find({"stock": {"$gte": min_stock, "$lte": max_stock}}, {"_id": 0}))
    print(f"Products with stock between {min_stock} and {max_stock}:")
    for product in products:
        print(product)

fetch_products_by_stock_range(50, 150)

Products with stock between 50 and 150:
{'name': 'Headphones', 'price': 200, 'category': 'Accessories', 'stock': 150}
{'name': 'Shoes', 'price': 80, 'category': 'Fashion', 'stock': 100}

In [ ]:
# discription: the query calculate the product stock which is between 50 to 150 .here i have use $gte to fin the product stock and got output of two product stocks headphones and shoes.

In [16]:
# 8.Update the product in category Fashion
def increase_stock_for_category(category, increment):
    result = products_collection.update_many(
        {"category": category},
        {"$inc": {"stock": increment}}
    )
    print(f"Updated {result.modified_count} products in category '{category}'.")

increase_stock_for_category("Fashion", 10)

Updated 1 products in category 'Fashion'.

In [ ]:
# discription:the query calculate the updation of one product in category with the help of $inc function.

In [17]:
# 9. Add the rating to all the product under 500
def add_rating_to_affordable_products(max_price, rating):
    result = products_collection.update_many(
        {"price": {"$lt": max_price}},
        {"$push": {"ratings": rating}}
    )
    print(f"Added rating to {result.modified_count} products under ${max_price}.")

add_rating_to_affordable_products(500, 4.5)

Added rating to 2 products under $500.

In [ ]:
# discription: the query calculate with help of $lt to add the rating of the product which is under $500.here we have got two products which rating price is under $500.

In [18]:
# 10. Remove the products with stock below 10
def delete_low_stock_products(threshold):
    result = products_collection.delete_many({"stock": {"$lt": threshold}})
    print(f"Deleted {result.deleted_count} products with stock below {threshold}.")

delete_low_stock_products(10)

Deleted 0 products with stock below 10.

In [ ]:
# discription: indicate the 0 product have stock below 10

In [19]:
# 11. insert the single product
def insert_single_product(product):
    result = products_collection.insert_one(product)
    print(f"Inserted product with ID: {result.inserted_id}")

# Example usage
insert_single_product({
    "name": "Tablet",
    "price": 300,
    "category": "Electronics",
    "stock": 30,
    "ratings": []
})

Inserted product with ID: 674457a74a9f34e6c3d74f20

In [ ]:
# discription: the query insert the single product "table" with the help of "insert_one" function inside the product collection.you can see the output.

In [ ]:
# 12.Insert multiple products
def insert_multiple_products(products):
    result = products_collection.insert_many(products)
    print(f"Inserted products with IDs: {result.inserted_ids}")

# Example usage
insert_multiple_products([
    {"name": "Smartphone", "price": 800, "category": "Electronics", "stock": 100},
    {"name": "Watch", "price": 150, "category": "Accessories", "stock": 200},
    {"name": "T-shirt", "price": 25, "category": "Fashion", "stock": 300},
])

Inserted products with IDs: [ObjectId('674457cd4a9f34e6c3d74f21'), ObjectId('674457cd4a9f34e6c3d74f22'), ObjectId('674457cd4a9f34e6c3d74f23')]

In [ ]:
# discription: the query inserted multiple product with the help of "insert many" function inside the product_collection

In [24]:
from datetime import datetime

In [ ]:
# 13.Insert single user
def insert_single_user(user):
    result = users_collection.insert_one(user)
    print(f"Inserted user with ID: {result.inserted_id}")

# Example usage
insert_single_user({
    "name": "Jane Doe",
    "email": "jane@example.com",
    "password": "securepassword123",
    "address": "456 Maple Avenue",
    "orders": []
})

Inserted user with ID: 674458384a9f34e6c3d74f26

In [ ]:
# discription: the query  inserted the single user details with the help of "insert_one" function in users_colection.

In [ ]:
# 14.insert single order
def insert_order(order):
    result = orders_collection.insert_one(order)
    print(f"Inserted order with ID: {result.inserted_id}")

# Example usage
user = users_collection.find_one({"email": "john@example.com"})
product = products_collection.find_one({"name": "Laptop"})

if user and product:
    insert_order({
        "user": user["_id"],
        "items": [{"product": product["_id"], "quantity": 1}],
        "totalPrice": product["price"],
        "createdAt": datetime.utcnow()
    })
else:
    print("User or product not found!")

Inserted order with ID: 674458774a9f34e6c3d74f29

C:\Users\BAPS\AppData\Local\Temp\ipykernel_10432\483966656.py:15: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  "createdAt": datetime.utcnow()

In [ ]:
# discription: the query calculate the inserting data inside the order_collection and use the datetime to add the time.here user orderd the laptop with quantity 1.

In [ ]:
# 15.Calculate the average of all the product
def calculate_average_price():
    pipeline = [
        {"$group": {"_id": None, "averagePrice": {"$avg": "$price"}}}
    ]
    result = list(products_collection.aggregate(pipeline))
    if result:
        print(f"Average price of all products: ${result[0]['averagePrice']:.2f}")
    else:
        print("No products found.")

calculate_average_price()

Average price of all products: $393.57

In [ ]:
# discription:the code find out the average price of product $393.57 .it utilize the oprator $avg.

In [ ]:
# 16. Calculate the total stock of all the product
def calculate_total_stock():
    pipeline = [
        {"$group": {"_id": None, "totalStock": {"$sum": "$stock"}}}
    ]
    result = list(products_collection.aggregate(pipeline))
    if result:
        print(f"Total stock of all products: {result[0]['totalStock']}")
    else:
        print("No products found.")

calculate_total_stock()

Total stock of all products: 939

In [ ]:
# discription: the code find out the total stock of all products is 939 with the help of $sum operator.

In [ ]:
# 17. Calculate the total sale
def calculate_total_sales():
    pipeline = [
        {"$group": {"_id": None, "totalSales": {"$sum": "$totalPrice"}}}
    ]
    result = list(orders_collection.aggregate(pipeline))
    if result:
        print(f"Total sales from all orders: ${result[0]['totalSales']:.2f}")
    else:
        print("No orders found.")

calculate_total_sales()

Total sales from all orders: $3600.00

In [ ]:
# discription: the query calculate the total sale of product is $3600 with the help of $sum operator.

In [ ]:
# 18. Calculate the average price and total sale together
def calculate_price_and_stock_metrics():
    pipeline = [
        {
            "$group": {
                "_id": None,
                "averagePrice": {"$avg": "$price"},
                "totalStock": {"$sum": "$stock"}
            }
        }
    ]
    result = list(products_collection.aggregate(pipeline))
    if result:
        print(f"Average price of all products: ${result[0]['averagePrice']:.2f}")
        print(f"Total stock of all products: {result[0]['totalStock']}")
    else:
        print("No products found.")

calculate_price_and_stock_metrics()

Average price of all products: $393.57
Total stock of all products: 939

In [ ]:
# discription: the code find out the average price of all product is $393.57 with use of $avg operator and total stock of all products is 939 with use of $sum operators.

In [ ]:
# 19. Calculate the average rating for the product
def calculate_average_rating():
    pipeline = [
        {"$unwind": "$ratings"},
        {"$group": {"_id": "$name", "averageRating": {"$avg": "$ratings"}}}
    ]
    result = list(products_collection.aggregate(pipeline))
    if result:
        print("Average ratings per product:")
        for product in result:
            print(f"- {product['_id']}: {product['averageRating']:.2f}")
    else:
        print("No ratings found.")

calculate_average_rating()

Average ratings per product:
- Headphones: 4.50
- Shoes: 4.50

In [ ]:
# discription: the code find the average rating per product like headphones:4.50 and shoes:4.50 with use of "$unwind" and "$avg" operators.